<div class="table-responsive">
    <table datatable="" dt-options="dtOptions" role="table"
           class="table table-condensed table-bordered table-striped table-default table-available-items dataTable"
           aria-describedby="activeObjectsTable_info">
        <thead>
            <tr role="row">
                <th class="text-center sorting col-sm-3" tabindex="0" aria-controls="activeObjectsTable"
                    aria-sort="ascending" aria-label="Date : activate to sort column descending" >
                    Target Completion Date
                </th>
                <th class="sorting col-sm-6" tabindex="0" aria-controls="activeObjectsTable"
                    aria-label="Inventory Profile : activate to sort column ascending" >
                    Inventory Profile
                </th>
                <th class="sorting col-sm-3" tabindex="0" aria-controls="activeObjectsTable"
                    aria-label="Status : activate to sort column ascending" >
                    Status
                </th>
            </tr>
        </thead>
        <tbody aria-live="polite" aria-relevant="all">
            <tr ng-repeat="profile in profiles" role="row" >
                <td class="text-center navLink" ><a ng-click="navigateToProfile(profile.profileId, profile.typeCode)" >{{profile.targetCompletionDate | date : 'mediumDate'}}</a></td>
                <td class="navLink"><a ng-click="navigateToProfile(profile.profileId, profile.typeCode)" >{{profile.name}}</a></td>
                <td class="navLink"><a ng-click="navigateToProfile(profile.profileId, profile.typeCode)" >{{profile.status}}</a></td>
            </tr>
        </tbody>
    </table>
</div>
