<div class="container-full" align="right">
    <p>
	    <button id="toSummaryBtn" type="button" class="btn btn-group btn-default btn-sm" ng-click="toSummary()">Return to Summary</button>
	    <button id="autoFillBtn" type="button" class="btn btn-group btn-default btn-sm" ng-click="autoFill()">{{buttonCaptionFill()}}</button>
	    <button id="saveQuantitiesBtn" type="button" class="btn btn-group btn-default btn-sm" ng-click="saveQuantities()">Save Quantities</button>
	    <button id="submitRequestsBtn" type="button" class="btn btn-group btn-primary btn-sm" ng-click="submitRequests()">Submit</button>
    </p>
</div>