<div class="container-full" align="right">
    <p>
        <button id="rsmToSummaryBtn" type="button" class="btn btn-group btn-default btn-sm" ng-click="rsmToSummary()">
            Return to Summary
        </button>
        <button id="sendBackToDsmBtn" type="button" class="btn btn-group btn-default btn-sm" ng-click="returnDSM()">
            {{rsmButtonCaptionFill()}}
        </button>
        <button id="approveCompliantBtn" type="button" class="btn btn-group btn-primary btn-sm"
                ng-click="approveCompliant()">Approve as Compliant
        </button>
        <button id="approveNonCompliantBtn" type="button" class="btn btn-group btn-primary btn-sm"
                ng-click="approveNonCompliant()">Approve as Non-Compliant
        </button>
    </p>
</div>