<div class="container-full">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Profile Details</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div id="activeObjectsTable_processing" class="dataTables_processing" style="visibility: hidden;">Processing...</div>
                <table id="activeObjectsTable"
                       class="table table-condensed table-bordered table-striped table-default table-available-items dataTable"
                       aria-describedby="activeObjectsTable_info">
                    <thead>
                    <tr role="row">
                        <th class="" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" >
                            Order Segment
                        </th>
                        <th ng-repeat="period in profile.periods" class="text-center" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" >
                            {{period.name}}<br/>Min - Target - Max<br/>Qty
                        </th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr ng-repeat="orderSegment in orderSegments" class="odd">
                        <td class="">{{orderSegment.name}}</td>
                        <td ng-repeat="qty in orderSegment.quantities" class="text-center">
                            <span>{{qty.minimum}} - {{qty.recommended}} - {{qty.maximum}}<br/>
                                <input ng-class="{noncompliant: qty.actual < qty.minimum || qty.actual > qty.maximum}" ng-model="qty.actual" class="text-center input-sm" type="number" >
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Data table summary and Page Controls -->
<div class="container-full">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Profile Totals</h3>
        </div>
        <div class="panel-body">
            <div class="row table-col-hdr">
                <div class="col-md-4" ng-repeat="period in profile.periods" >
                    <div class="col-md-6 text-center">
                        {{period.name}}<br/>Min - Target - Max
                    </div>
                    <div class="col-md-6 text-center">
                        {{period.name}}<br/>Qty
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" ng-repeat="orderSegment in orderSegments"  >
                    <div class="col-md-6 text-center">
                        {{orderSegment.minimumQty}} - {{orderSegment.recommendedQty}} - {{orderSegment.maximumQty}}
                    </div>
                    <div class="col-md-6 text-center">
                        {{orderSegment.actualQty}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>