<table id="activeObjectsTable"
       class="table table-condensed table-bordered table-striped table-default table-available-items dataTable"
       aria-describedby="activeObjectsTable_info">
    <thead>
    <tr role="row">
        <th class="" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" style="width: 33%" >
            Order Segment
        </th>
        <th class="" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" style="width: 33%" >
            "Window 1"<br/>Min - Target - Max<br/>Qty
        </th>
        <th class="text-center" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" style="width: 33%" >
            "Window 2"<br/>Min - Target - Max<br/>Qty
        </th>
        <th class="text-center" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" style="width: 33%" >
            "Window 3"<br/>Min - Target - Max<br/>Qty
        </th>
    </tr>
    </thead>
    <tbody ng-repeat="segment in profile.segments" role="alert" aria-live="polite" aria-relevant="all">
    <tr ng-repeat="orderSegment in segment.orderSegments" class="odd">
        <td class="">{{segment.name}}</td>
        <td class="">{{orderSegment.name}}</td>
        <td class="text-center"><span>{{orderSegment.recommendedQty}}&nbsp;&nbsp;&nbsp;&nbsp;<input value="{{orderSegment.actualQty}}" class="text-center" type="text" id="os_{{orderSegment.name}}"></span></td>
    </tr>
    </tbody>
</table>
