<dsm-button profile="profile"></dsm-button>
<div class="container-full">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Profile Details</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div id="activeObjectsTable_processing" class="dataTables_processing" style="visibility: hidden;">Processing...</div>
                <table datatable dt-options="dtOptions" id="activeObjectsTable"
                       class="table table-condensed table-bordered table-striped table-default table-available-items dataTable"
                       aria-describedby="activeObjectsTable_info">
                    <thead>
                    <tr role="row">
                        <th class="" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" >
                            Segment
                        </th>
                        <th class="" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" >
                            Order Segment
                        </th>
                        <th ng-repeat="period in profile.periods" class="text-center" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" >
                            {{period.name}}<br/>Recommendation - Qty - Approve Qty
                        </th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr ng-repeat="orderSegment in orderSegments" class="odd">
                        <td ng-class="">{{segName(orderSegment.subSegment)}}</td>
                        <td class="">{{orderSegment.name}}</td>
                        <td class="text-center"><span>{{orderSegment.recommended}}&nbsp;&nbsp;&nbsp;&nbsp;
                            <input tabindex="0"
                                   class="text-center numberInput"
                                   ng-model="orderSegment.actual"
                                   min="0"
                                   max="999"
                                   numbers-only
                                   ng-disabled="orderSegment.actual != null"></span>&nbsp;&nbsp;&nbsp;&nbsp;
							<span ng-switch on="isEditable()">
	                            <input ng-switch-when="false"
	                            	tabindex="0"		
	                            	ng-class="{noncompliant: orderSegment.dsmQty < orderSegment.recommended, spinnerInput: !isEditable()}"
                                    class="text-center compliant numberInput"
                                    ng-model="orderSegment.dsmQty"
	                                min="0"
	                                max="999"
	                                numbers-only
	                                readonly>
                                <input ng-switch-when="true"
	                            	ng-class="{noncompliant: orderSegment.dsmQty < orderSegment.recommended, spinnerInput: !isEditable()}"
                                    class="text-center compliant numberInput"
                                    ng-model="orderSegment.dsmQty"
	                                min="0"
	                                max="999"
	                                numbers-only
	                                spinner-input>
                            </span>
                        </td>
                    </tr>
					</tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Data table summary and Page Controls -->
<div class="container-full">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Profile Totals</h3>
        </div>
        <div class="panel-body">
            <div id="summaryTable_processing" class="dataTables_processing" style="visibility: hidden;">Processing...</div>
            <table id="summaryTable"
                   class="table table-condensed table-bordered table-striped table-default table-available-items dataTable"
                   aria-describedby="activeObjectsSummaryTable">
                <thead>
                <tr role="row">
                    <th class="text-left" role="columnheader" aria-controls="activeObjectsSummaryTable" >
                        Super Segment
                    </th>
                    <th ng-repeat="period in profile.periods" class="text-center" role="columnheader" aria-controls="activeObjectsSummaryTable" >
                        {{period.name}}<br/>Min - <b>Recommendation</b> - Max
                    </th>
                    <th ng-repeat="period in profile.periods" class="text-center" role="columnheader" aria-controls="activeObjectsSummaryTable" >
                        {{period.name}}<br/>Qty
                    </th>
                    <th class="text-center" aria-controls="activeObjectsSummaryTable">
                        Segments<br/>Requested / Min
                    </th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr ng-repeat="segment in segments | orderBy: 'name'" class="odd">
                    <td class="">{{segment.name}}</td>
                    <td class="text-center">{{segment.recommended}}</td>
                    <td class="text-center compliant" ng-class="{noncomplianttotal: getSegmentActualTotal(segment).actualTotal < segment.recommended}" >{{getSegmentActualTotal(segment).actualTotal}}</td>
                    <td class="text-center compliant" ng-class="{noncomplianttotal: getSegmentActualTotal(segment).orderSegmentCount < segment.recommendedOSCount}" >{{getSegmentActualTotal(segment).orderSegmentCount}} / {{segment.recommendedOSCount}}</td>
                </tr>
                <tr class="even">
                    <td class="text-left">Grand Total</td>
                    <td class="text-center">{{recommendedGrandTotal - 1}} - {{recommendedGrandTotal}} - {{recommendedGrandTotal + 2}}</td>
                    <td ng-class="{noncomplianttotal: getSuperSegmentGrandTotal() < recommendedGrandTotal - 1 || getSuperSegmentGrandTotal() > recommendedGrandTotal + 2}" class="text-center compliant">{{getSuperSegmentGrandTotal()}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<comment-display role = "role" profile = "profile"></comment-display>
<dsm-button profile="profile"></dsm-button>