<main-button profile="profile"></main-button>
<div class="container-full">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Profile Details</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <table datatable dt-options="dtOptions" id="activeObjectsTable"
                       class="table table-condensed table-bordered table-striped table-default table-available-items dataTable"
                       aria-describedby="activeObjectsTable_info">
                    <thead>
                    <tr role="row">
                        <th class="table-hidden-col">{{os.sort}}</th>
                        <th class="" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" translate>
                            Segment
                        </th>
                        <th class="" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" translate>
                            Order Segment
                        </th>
                        <th ng-repeat="period in profile.periods" class="text-center" role="columnheader" tabindex="0"
                            aria-controls="activeObjectsTable">
                            {{period.name}}<br/><span translate>Recommendation - Qty</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr ng-repeat="orderSegment in orderSegments" class="odd">
                        <td class="table-hidden-col">{{orderSegment.sort}}</td>
                        <td ng-class="">{{segName(orderSegment.osName)}}</td>
                        <td class="">{{orderSegment.osName}}</td>
                        <td class="text-center"><span>{{orderSegment.recommended}}&nbsp;&nbsp;&nbsp;&nbsp;
	                            <span ng-switch on="isEditable()">
		                            <input ng-switch-when="false"
                                           tabindex="0"
                                           ng-class="{noncompliant: orderSegment.actual < orderSegment.recommended}"
                                           class="text-center compliant numberInput"
                                           ng-model="orderSegment.actual"
                                           min="0"
                                           max="999"
                                           numbers-only
                                           readonly
                                           ng-disabled="orderSegment.actual >= orderSegment.recommended">
	                                <input ng-switch-when="true"
                                           ng-class="{noncompliant: orderSegment.actual < orderSegment.recommended}"
                                           class="text-center compliant numberInput"
                                           ng-model="orderSegment.actual"
                                           min="0"
                                           max="999"
                                           numbers-only
                                           spinner-input>
	                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Data table summary and Page Controls -->
<div class="container-full">
    <div class="panel panel-primary">
        <div class="panel-body">
            <table id="summaryTable"
                   class="table table-condensed table-bordered table-striped table-default table-available-items dataTable"
                   aria-describedby="summaryTable">
                <thead>
	                <tr role="row">
	                    <th class="text-left" role="columnheader" aria-controls="activeObjectsSummaryTable">
	                        Super Segment
	                    </th>
	                    <th ng-repeat="period in profile.periods" class="text-center" role="columnheader"
	                        aria-controls="activeObjectsSummaryTable">
	                        {{period.name}}<br/>Recommendation
	                    </th>
	                    <th ng-repeat="period in profile.periods" class="text-center" role="columnheader"
	                        aria-controls="activeObjectsSummaryTable">
	                        {{period.name}}<br/>Qty
	                    </th>
	                    <th class="text-center" aria-controls="activeObjectsSummaryTable">
	                        Segments<br/>Requested / Min
	                    </th>
	                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
	                <tr ng-repeat="segment in segments | orderBy: 'name'" class="odd">
	                    <td class="">{{segment.name}}</td>
	                    <td class="text-center">{{segment.recommended}}</td>
	                    <td class="text-center compliant"
	                        ng-class="{noncomplianttotal: getSegmentActualTotal(segment).actualTotal < segment.recommended}">
	                        {{getSegmentActualTotal(segment).actualTotal}}
	                    </td>
	                    <td class="text-center compliant"
	                        ng-class="{noncomplianttotal: getSegmentActualTotal(segment).orderSegmentCount < segment.recommendedOSCount}">
	                        {{getSegmentActualTotal(segment).orderSegmentCount}} / {{segment.recommendedOSCount}}
	                    </td>
	                </tr>
	                <tr >
	                	<td class="text-left match-header"><strong>Profile Total</strong></td>
	                	<td ng-repeat="period in profile.periods" class="text-center match-header"><strong>Min - Recommended - Max</strong></td>
	                	<td class="text-center match-header" ><strong>Requested Total</strong></td>
	                	<td class="match-header"></td>
	                </tr> 
	                <tr class="even totals-color" >
	                    <td class="totals-color" ></td>
	                    <td ng-repeat="period in profile.periods" class="text-center totals-color"><strong>{{period.recMinimum}} - {{period.recommended}} -
	                        {{period.recMaximum}}</strong>
	                    </td>
	                    <td ng-repeat="period in profile.periods" ng-class="{noncomplianttotal: getSuperSegmentGrandTotal() < period.recMinimum || getSuperSegmentGrandTotal() > period.recMaximum}"
	                    	class="text-center compliant totals-color"><strong>{{getSuperSegmentGrandTotal()}}</strong>
	                    </td>
	                    <td class="totals-color"></td>
	                </tr>
                </tbody>
            </table>
         </div>
    </div>
</div>
<comment-display role="role" profile="profile"></comment-display>
<email-entry profile="profile"></email-entry>
<main-button profile="profile"></main-button>

