<div style='font-size: .8em; line-height: 1.5em; font-family: Verdana,Tahoma, Arial,sans-serif;'>
<p>This is a notification that your ATV RFM inventory profile has been returned by your DSM. Please contact them if you have any questions.</p> 
</div>

