<div style='font-size: .8em; line-height: 1.5em; font-family: Verdana,Tahoma, Arial,sans-serif;'>
<p>Par la présente, nous confirmons que le profil des stocks de GPV $productLine suivant a été approuvé tel quel.  
</p>
<p>
#if($StringUtils.isNotEmpty($reason))
    <strong>Reason:</strong> $reason<br>
#end
#if($StringUtils.isNotEmpty($comment))
    <strong>Comment:</strong><br>
    $comment
#end
</p>
 
#parse("/templates/profileTable.vm") 
<p>Veuillez vérifier votre profil des stocks pour exactitude. Si vous avez des questions, veuillez communiquer avec l’Assistance au concessionnaire Polaris au 1 800 330-9407.</p> 
<p>Merci de votre collaboration.</p>
</div>

