<div style='font-size: .8em; line-height: 1.5em; font-family: Verdana,Tahoma, Arial,sans-serif;'>
<p>This is a notification that an $productLine RFM inventory profile for dealer [$dealerId, $dealerName] has been submitted for an exception.  </p>
#parse("/templates/profileTable.vm")  
<p>Please review your inventory profile for accuracy and if you have any questions, contact Polaris Dealer Support at 1-800-330-9407.</p> 
<p>Thank you for your business.</p>
</div>

