<div class="row">
    <div ng-if="isSalesman || isRSM" id="extraHeaderBar" class="col-md-12 ctr-navbar">
        <nav class="navbar navbar-default " role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#pga-navbar-collapse-id">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span><span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="pga-navbar-collapse-id">
                <ul class="nav navbar-nav">
                    <li><a href="{{attributes.DsmHome}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="{{attributes.DealerHome}}">Main Dealer Site</a></li>
                    <li><a href="{{attributes.IntranetHome}}">Intranet</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div ng-if="isDIS" id="extraHeaderBar" class="col-md-12 ctr-navbar">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#pga-navbar-collapse-id">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span><span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="pga-navbar-collapse-id">
                <ul class="nav navbar-nav">
                    <li><a href="{{attributes.DealerCases}}DealerID={{dealerId}}&DealerName={{dealerName}}">Dealer
                        Cases</a></li>
                    <li><a href="{{attributes.IntranetHome}}">Intranet</a></li>
                    <li><a href="{{attributes.ChangeDealer}}">Change Dealer</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div ng-if="isDealer" id="topNavBarDiv" class="col-md-12 ctr-navbar">

    </div>
</div>
