<div class="col-md-12">
    <div id="activeObjectsTable_processing" class="dataTables_processing" style="visibility: hidden;">Processing...</div>
    <table datatable="ng" dt-options="dtOptions" id="activeObjectsTable"
           class="table table-condensed table-bordered table-striped table-default table-available-items dataTable"
           aria-describedby="activeObjectsTable_info">
        <thead>
        <tr role="row">
            <th role="columnheader" tabindex="0" aria-controls="activeObjectsTable" rowspan="1"
                colspan="1" style="width: 5%;">
            </th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" rowspan="1"
                colspan="1" aria-label="Inventory Profile : activate to sort column ascending" style="width: 20%;">
                Dealer Number
            </th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" rowspan="1"
                colspan="1" aria-label="Status : activate to sort column ascending" style="width: 35%;">
                Dealer Name
            </th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" rowspan="1"
                colspan="1" aria-label="Status : activate to sort column ascending" style="width: 20%;">
                Last Updated
            </th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" rowspan="1"
                colspan="1" aria-label="Status : activate to sort column ascending" style="width: 20%;">
                Status
            </th>
        </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
        <tr dt-rows ng-repeat="profile in profiles" >
            <td class="lightColor(profile.complianceStatus)" ></td>
            <td class=""><a ng-click="navigateToProfile(dealer.dealerId, profile.profileId, profile.type)" >{{profile.dealerid}}</a></td>
            <td class="">{{profile.dealerName}}</td>
            <td class="">{{profile.modifiedDate | date : 'mediumDate'}}</td>
            <td class="">{{profile.status}}</td>
        </tr>
        </tbody>
    </table>
</div>