<div class="modal-header">
    <h3 class="modal-title">Unsaved Changes</h3>
</div>
<div class="modal-body">
    There are changes to the form that have not been saved. How would you like to proceed?
</div>
<div class="modal-footer">
    <button class="btn btn-group btn-default btn-sm" ng-click="saveChanges()">Save and Continue</button>
    <button class="btn btn-group btn-default btn-sm" ng-click="exitWithNoChanges()">Continue without Saving</button>
    <button class="btn btn-group btn-default btn-sm" ng-click="cancel()">Cancel</button>
</div>
