<common-header></common-header>
<section class="cntr-main-wrapper">
    <div class="cntr-main-content">
        <!-- Page title -->
        <div class="row">
            <div class="col-md-8">
                <h2>Victory Inventory Profile 04/30/14</h2>
            </div>
        </div>
        <dealer-info></dealer-info>
        <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm" ng-click="#/dealerSummary">Return to Summary</button>
        </div>
        <!-- Search and Items-Per-Page -->
        <div class="row">
            <common-search></common-search>
            <items-per-page></items-per-page>
        </div>
        <!-- Data table -->
        <div class="col-md-12">
            <div id="activeObjectsTable_processing" class="dataTables_processing" style="visibility: hidden;">Processing...</div>
            <table id="activeObjectsTable"
                   class="table table-condensed table-bordered table-striped table-default table-available-items dataTable"
                   aria-describedby="activeObjectsTable_info">
                <thead>
                <tr role="row">
                    <th class="" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" style="width: 33%" >
                        Segment
                    </th>
                    <th class="" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" style="width: 33%" >
                        Order Segment
                    </th>
                    <th class="text-center" role="columnheader" tabindex="0" aria-controls="activeObjectsTable" style="width: 33%" >
                        Window<br/>Recommendation - Qty
                    </th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr class="odd">
                    <td class="">Cruiser</td>
                    <td class="">Judge</td>
                    <td class="text-center"><span>0&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"></span></td>
                </tr>
                <tr class="even">
                    <td class=" sorting_1">Cruiser</td>
                    <td class="">Vegas 8-Ball</td>
                    <td class="text-center"><span>1&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Data table summary and Page Controls -->
        <div class="row row-padding">
            <div class="col-md-6">
                <div class="dataTables_info" id="activeObjectsTable_info">Showing 1 to 12 of 12 items</div>
            </div>
            <page-controls></page-controls>
        </div>
        <div class="container-full">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Profile Totals</h3>
                </div>
                <div class="panel-body">
                    <table id="activeObjectsSummaryTable"
                           class="table table-condensed table-bordered table-striped table-default table-available-items dataTable"
                           aria-describedby="activeObjectsSummaryTable">
                        <thead>
                        <tr role="row">
                            <th class="" role="columnheader" tabindex="0" aria-controls="activeObjectsSummaryTable" >
                                Segment
                            </th>
                            <th class="text-center" role="columnheader" tabindex="0" aria-controls="activeObjectsSummaryTable" >
                                Window<br/>Recommendation
                            </th>
                            <th class="text-center" role="columnheader" tabindex="0" aria-controls="activeObjectsSummaryTable" >
                                Window<br/>Qty
                            </th>
                        </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <tr class="odd">
                            <td class="">Cruiser</td>
                            <td class="text-center">3</td>
                            <td class="text-center">21</td>
                        </tr>
                        <tr class="even">
                            <td class="">Bagger</td>
                            <td class="text-center">4</td>
                            <td class="text-center">5</td>
                        </tr>
                        <tr class="even">
                            <td class="">Tourintg</td>
                            <td class="text-center">3</td>
                            <td class="text-center">2</td>
                        </tr>
                        <tr class="even">
                            <td class="">Grand Total</td>
                            <td class="text-center">10</td>
                            <td class="text-center">28</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-sm" ng-click="#/dealerSummary">Return to Summary</button>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<common-footer></common-footer>
